* {
    box-sizing: border-box;
}

.content {
    color: #222222;
    padding: 40px;
    width: 100vw;
}

.number {
    display: flex;
    justify-content: flex-end;
}

.name {
    border-bottom: 2px solid #34A5DA;
    width: 400px;
}

.from::before {
    content: 'From: ';
    font-size: 1.1rem;
    font-weight: bold;
}

.job::before {
    content: 'Job Title: ';
    font-size: 1.1rem;
    font-weight: bold;
}

.employer::before {
    content: 'Employer: ';
    font-size: 1.1rem;
    font-weight: bold;
}

.movie-header {
    margin-top: 50px;
}

.movie1 {
    margin-left: 30px;
}

.movie2 {
    margin-left: 30px;
}

.movie3 {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 540px;
}

.buttons {
    display: flex;
    /* width: 100vw; */
}

.previous {
    /* width: 30px; */
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: -50px;
    border: none;
    background: transparent;
    color: #EBEBEB;
    font-size: 1.2rem;
}

.next {
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: -50px;
    border: none;
    background: transparent;
    color: #EBEBEB;
    font-size: 1.2rem;
}

.count {
    margin-bottom: -100px;
    margin-left: -50px;
}