* {
    box-sizing: border-box;
}

.main {
    height: 60vh;
    width: 80vw;
    background: #EBEBEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 60px;
}